@charset 'UTF-8'

.content-trait
  margin-left 3em
  width 40em

.smaller-trait
  font-size 10px
  line-height 21px

.monospace-trait
  font-family Inconsolata, monospace

.sans-serif-trait
  font-family Nobile, Helvetica, Arial, sans-serif

.serif-trait
  font-family Vollkorn, Georgia, serif


html
  @extends .sans-serif-trait
  font-size 12px
  line-height 21px

#content
  @extends .content-trait

  p,
  .listingblock,
  blockquote,
  .quoteblock,
  .verseblock,
  ul,
  ol
    margin-top 25px
    margin-bottom 25px

  p,
  blockquote,
  .quoteblock,
  ul,
  ol
    text-align justify

  .quoteblock,
  .verseblock
    margin-left 3em

    &.epigraph

      .content
        font-style italic

  .verseblock

    pre
      font-family inherit
      font-style italic

  hr
    border none
    text-align center
    font-size 150%
    clear both

  hr:after
    content '\2766'

  img
    margin 1.2em 0 1.2em 1.2em
    border none

  .imageblock
    width 14em
    float right
    clear right

    &.unscaled
      width auto
      clear both

      img
        width auto

    img
      width 12.8em
      float left

    .title
      @extends .smaller-trait
      float right
      margin-right -17em
      text-align left
      width 14em
      margin-top 1.2em
      color grey

  article,
  .hentry
    padding-bottom 4em

    hgroup
      padding-top 1em

    .entry-title
      padding-top 0
      padding-bottom 0
      margin-top 0
      margin-bottom 0

      .n
        display block
        width 4em
        margin-left -4.2em
        padding-right 0.2em
        position absolute
        text-align right
        color red

    .article-content
      clear both

    .sidebarblock
      @extends .smaller-trait
      background-color #fff4f4
      margin-top 3em
      margin-bottom 3em

    .listingblock

      .content
        background-color #ffffe4

    .attribution.ulist
      @extends .smaller-trait
      margin-top 3em

      ul
        list-style-type none

    footer
      @extends .smaller-trait
      margin-top 3em

  .monospaced
    @extends .monospace-trait

  .latest-post-titles
    display inline

    a:after
      content '; '

    a:last-child:after
      content ''

  .meta
    @extends .smaller-trait
    color gray
    clear both

    .time
      margin-right 0.5em

  .comments
    display none

  .nextprev
    padding-left 1px
    padding-right 1px
    padding-bottom 3em
    background-color black
    color white
    height 2em

    a,
    a:hover
      color inherit

    .prev
      float left

      &:before
        content '❮ '
        font-size 1.2em

      &:hover:before
        color red

    .next
      float right

      &:after
        content ' ❯'
        font-size 1.2em

      &:hover:after
        color red

#footer,
#header
  @extends .content-trait

  .title-block

    .title
      text-transform uppercase
      font-size 2em
      padding-top 0

    .vcard
      @extends .smaller-trait

      & > *
        float left
        clear left

      .photo
        float right
        padding 0
        margin 0
        height 6.5em
        margin-top -6.5em

      .fn
        margin-top 0
        font-weight bold

    .tabs
      @extends .serif-trait
      clear both
      padding-left 1px
      color white
      background-color black
      font-size 1.2em
      text-transform uppercase

      ul
        margin 0
        padding 0
        list-style-type none

        li
          display inline-block
          margin-right 2em

          a,
          a:hover
            color inherit

          a:after
            content ' ❯'
            font-size 1.2em
            color transparent

          a:hover:after
            color red

        li.home-tab
          margin-right 0
          padding-right 1px
          float right
          text-align right

          a:after
            content ''

          a:before
            content '❮ '
            font-size 1.2em
            color transparent

          a:hover:before
            color red

  .page-header
    padding-top 1em

    .page-title
      margin-top 0
      padding-top 0
      padding-bottom 0
      margin-bottom 0
      font-size 3em
      line-height 75px

      &:after
        content '⌄'
        font-family 'Deja Vu Sans', Helvetica, Arial, sans-serif
        font-size 1.2em
        color red

  .the-end
    padding-left 1px
    color white
    background-color black


a,
a:hover,
.link
  text-decoration none
  color navy
  cursor pointer

ul,
ol
  list-style-position outside
  padding-left 0

ol.loweralpha
  list-style-type lower-alpha

ol.upperalpha
  list-style-type upper-alpha

h1, h2, h3, h4, h5, h6, .title-block .title
  @extends .serif-trait
  font-weight normal
  padding 0
  margin 0

  & a,
  & a:hover
    color black

h1
  font-size 1.8em
  line-height 50px

h2
  font-size 18px
  line-height 63px
  margin-bottom -21px

h3
  font-size 14px
  margin-top 21px
  margin-bottom -21px
  font-style italic

h4
  font-size 1em

pre
  @extends .monospace-trait


//article
//  counter-reset note

.sidenote
  @extends .smaller-trait

  //&:before
  //  counter-increment note
  //  content counter(note)
  //  vertical-align super
  //  font-size 0.8em

.fnoteblock
  @extends .smaller-trait
  display block
  float right
  clear right
  width 14em
  margin-right -17em
  margin-bottom 25px
  padding-right 1em
  color gray

  //&:before
  //  content counter(note) '. '

  .title
    font-style italic
    color #444444
