@charset 'UTF-8'

.content-trait
  margin-left 4em
  width 42em

.smaller-block-trait
  font-size 0.8em

.monospace-trait
  font-family Inconsolata, monospace

.sans-serif-trait
  font-family Nobile, Helvetica, Arial, sans-serif

.serif-trait
  font-family Vollkorn, Georgia, serif


html
  @extends .sans-serif-trait
  font-size 85%
  line-height 1.8em

#content
  @extends .content-trait
  margin-top 4em
  font-size 1em

  article,
  .hentry
    margin-top 4em
    padding-bottom 4em

    hgroup
      padding-top 1em
      padding-bottom 2em

    .entry-title
      float left
      padding-top 0
      margin-top 0

      .n
        display block
        width 4em
        margin-left -4.2em
        padding-right 0.2em
        position absolute
        text-align right
        color red

    .article-content
      clear both

    .sidebarblock
      @extends .smaller-block-trait
      background-color #fff4f4
      margin-top 3em
      margin-bottom 3em

    .listingblock

      .content
        background-color #ffffe4

    .meta
      @extends .smaller-block-trait
      text-align right

    .attribution.ulist
      @extends .smaller-block-trait
      margin-top 3em

      ul
        list-style-type none

    footer
      @extends .smaller-block-trait
      margin-top 3em

  .monospaced
    @extends .monospace-trait

  .latest-post-titles
    display inline

    a:after
      content '; '

    a:last-child:after
      content ''

  .nextprev
    padding-left 1px
    padding-right 1px
    padding-bottom 3em
    background-color black
    color white
    height 2em

    a,
    a:hover
      color inherit

    .prev
      float left

      &:before
        content '❮ '
        font-size 1.2em

      &:hover:before
        color red

    .next
      float right

      &:after
        content ' ❯'
        font-size 1.2em

      &:hover:after
        color red

#footer,
#header
  @extends .content-trait

  .title-block

    .title
      text-transform uppercase
      font-size 2em
      padding-top 0
      line-height 1.2em
      float left

    .vcard
      @extends .smaller-block-trait

      & > *
        float left
        clear left

      .photo
        float right
        padding 0
        margin 0
        height 7em
        margin-top -7em

      .fn
        margin-top 0
        font-weight bold

    .tabs
      @extends .serif-trait
      clear both
      padding-left 1px
      color white
      background-color black
      font-size 1.2em
      text-transform uppercase

      ul
        margin 0
        padding 0
        list-style-type none

        li
          display inline-block
          margin-right 2em

          a,
          a:hover
            color inherit

          a:after
            content ' ❯'
            font-size 1.2em
            color transparent

          a:hover:after
            color red

        li.home-tab
          margin-right 0
          padding-right 1px
          float right
          text-align right

          a:after
            content ''

          a:before
            content '❮ '
            font-size 1.2em
            color transparent

          a:hover:before
            color red

  .page-header
    padding-top 1em

    .page-title
      margin-top 0
      padding-top 0
      padding-bottom 0
      margin-bottom 0
      font-size 3em
      line-height 1em

      &:after
        content '⌄'
        font-family 'Deja Vu Sans', Helvetica, Arial, sans-serif
        font-size 1.2em
        color red

    .page-meta
      float right
      text-align right
      line-height 1.2em
      color black
      background-color transparent

  .the-end
    padding-left 1px
    color white
    background-color black


a,
a:hover
  text-decoration none
  color navy

ul,
ol
  list-style-position outside
  padding-left 0

h1, h2, h3, h4, h5, h6, .title
  @extends .serif-trait
  font-weight normal
  padding-top 2em

  & a,
  & a:hover
    color black

h1
  font-size 1.6em

h2
  font-size 1.4em

h3
  font-size 1.2em

h4
  font-size 1em

.ctime,
.mtime,
.time
  @extends .monospace-trait

pre
  @extends .monospace-trait
