@charset 'UTF-8';
.content-trait,#content,#footer,#header{margin-left:3em;width:40em}
.smaller-trait,#content .imageblock .title,#content article .sidebarblock,#content .hentry .sidebarblock,#content article .attribution.ulist,#content .hentry .attribution.ulist,#content article footer,#content .hentry footer,#content .meta,#footer .title-block .vcard,#header .title-block .vcard,.sidenote,.fnoteblock{font-size:11px;line-height:25px}
.monospace-trait,#content .monospaced,pre{font-family:Inconsolata,monospace;font-size:14px;line-height:25px}
.sans-serif-trait,html{font-family:Nobile,Helvetica,Arial,sans-serif}
.serif-trait,#footer .title-block .tabs,#header .title-block .tabs,h1,h2,h3,h4,h5,h6,.title-block .title{font-family:Vollkorn,Georgia,serif}
html{font-size:14px;line-height:25px}
#content p,#content .listingblock,#content blockquote,#content .quoteblock,#content .verseblock,#content ul,#content ol{margin-top:25px;margin-bottom:25px}
#content p,#content blockquote,#content .quoteblock,#content ul,#content ol{text-align:justify}
#content .quoteblock,#content .verseblock{margin-left:3em;}
#content .quoteblock.epigraph .content,#content .verseblock.epigraph .content{font-style:italic}
#content .verseblock pre{font-family:inherit;font-style:italic}
#content hr{border:none;text-align:center;font-size:150%;clear:both}
#content hr:after{content:'\2766'}
#content img{margin:1.2em 0 1.2em 1.2em;border:none}
#content .imageblock{width:14em;float:right;clear:right;}
#content .imageblock.unscaled{width:auto;clear:both;}
#content .imageblock.unscaled img{width:auto}
#content .imageblock img{width:12.8em;float:left}
#content .imageblock .title{float:right;margin-right:-17em;text-align:left;width:14em;margin-top:1.2em;color:#808080}
#content article,#content .hentry{padding-bottom:4em;}
#content article hgroup,#content .hentry hgroup{padding-top:1em}
#content article .entry-title,#content .hentry .entry-title{padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:0;}
#content article .entry-title .n,#content .hentry .entry-title .n{display:block;width:4em;margin-left:-4.2em;padding-right:.2em;position:absolute;text-align:right;color:#f00}
#content article .article-content,#content .hentry .article-content{clear:both}
#content article .sidebarblock,#content .hentry .sidebarblock{background-color:#fff4f4;margin-top:3em;margin-bottom:3em}
#content article .listingblock .content,#content .hentry .listingblock .content{background-color:#ffffe4}
#content article .attribution.ulist,#content .hentry .attribution.ulist{margin-top:3em;}
#content article .attribution.ulist ul,#content .hentry .attribution.ulist ul{list-style-type:none}
#content article footer,#content .hentry footer{margin-top:3em}
#content .latest-post-titles{display:inline;}
#content .latest-post-titles a:after{content:'; '}
#content .latest-post-titles a:last-child:after{content:''}
#content .meta{color:#808080;clear:both;}
#content .meta .time{margin-right:.5em}
#content .comments{display:none}
#content .nextprev{padding-left:1px;padding-right:1px;padding-bottom:3em;background-color:#000;color:#fff;height:2em;}
#content .nextprev a,#content .nextprev a:hover{color:inherit}
#content .nextprev .prev{float:left;}
#content .nextprev .prev:before{content:'❮ ';font-size:1.2em}
#content .nextprev .prev:hover:before{color:#f00}
#content .nextprev .next{float:right;}
#content .nextprev .next:after{content:' ❯';font-size:1.2em}
#content .nextprev .next:hover:after{color:#f00}
#footer .title-block .title,#header .title-block .title{text-transform:uppercase;font-size:2em;padding-top:0}
#footer .title-block .vcard > *,#header .title-block .vcard > *{float:left;clear:left}
#footer .title-block .vcard .photo,#header .title-block .vcard .photo{float:right;padding:0;margin:0;height:6.5em;margin-top:-6.5em}
#footer .title-block .vcard .fn,#header .title-block .vcard .fn{margin-top:0;font-weight:bold}
#footer .title-block .tabs,#header .title-block .tabs{clear:both;padding-left:1px;color:#fff;background-color:#000;font-size:1.2em;text-transform:uppercase;}
#footer .title-block .tabs ul,#header .title-block .tabs ul{margin:0;padding:0;list-style-type:none;}
#footer .title-block .tabs ul li,#header .title-block .tabs ul li{display:inline-block;margin-right:2em;}
#footer .title-block .tabs ul li a,#header .title-block .tabs ul li a,#footer .title-block .tabs ul li a:hover,#header .title-block .tabs ul li a:hover{color:inherit}
#footer .title-block .tabs ul li a:after,#header .title-block .tabs ul li a:after{content:' ❯';font-size:1.2em;color:transparent}
#footer .title-block .tabs ul li a:hover:after,#header .title-block .tabs ul li a:hover:after{color:#f00}
#footer .title-block .tabs ul li.home-tab,#header .title-block .tabs ul li.home-tab{margin-right:0;padding-right:1px;float:right;text-align:right;}
#footer .title-block .tabs ul li.home-tab a:after,#header .title-block .tabs ul li.home-tab a:after{content:''}
#footer .title-block .tabs ul li.home-tab a:before,#header .title-block .tabs ul li.home-tab a:before{content:'❮ ';font-size:1.2em;color:transparent}
#footer .title-block .tabs ul li.home-tab a:hover:before,#header .title-block .tabs ul li.home-tab a:hover:before{color:#f00}
#footer .page-header,#header .page-header{padding-top:1em;}
#footer .page-header .page-title,#header .page-header .page-title{margin-top:0;padding-top:0;padding-bottom:0;margin-bottom:0;font-size:3em;line-height:75px;}
#footer .page-header .page-title:after,#header .page-header .page-title:after{content:'⌄';font-family:'Deja Vu Sans',Helvetica,Arial,sans-serif;font-size:1.2em;color:#f00}
#footer .the-end,#header .the-end{padding-left:1px;color:#fff;background-color:#000}
a,a:hover,.link{text-decoration:none;color:#000080;cursor:pointer}
ul,ol{list-style-position:outside;padding-left:0}
ol.loweralpha{list-style-type:lower-alpha}
ol.upperalpha{list-style-type:upper-alpha}
h1,h2,h3,h4,h5,h6,.title-block .title{font-weight:normal;padding:0;margin:0;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,.title-block .title a,h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,.title-block .title a:hover{color:#000}
h1{font-size:1.6em;line-height:50px}
h2{font-size:20px;line-height:75px;margin-bottom:-25px}
h3{font-size:16px;margin-top:25px;margin-bottom:-25px;font-style:italic}
h4{font-size:1em}
.fnoteblock{display:block;float:right;clear:right;width:14em;margin-right:-17em;margin-bottom:25px;padding-right:1em;color:#808080;}
.fnoteblock .title{font-style:italic;color:#444}
