.ui-combobox{position:relative;display:inline-block}
.ui-combobox-toggle{position:absolute !important;top:0;bottom:0;margin-left:-1px;margin-top:-1px;padding:0;*height:1.7em;*top:.1em}
.ui-combobox-input{margin:0;padding:.3em}
