@import 'nib'
@import 'project-ui'

content-width = 40em
manifest-width = 12em
content-padding = 1em
manifest-bg = #e7eff3

body
  margin 0
  background-color manifest-bg

ul
  list-style-position inside

#flog-file
  background-color #fafafa
  margin-left manifest-width + 2em
  box-shadow 0 0 1em 0

#flog-content
  margin 0
  padding: 1.2em content-padding 3em content-padding
  box-shadow 0.5em 0 1em -0.5em
  width content-width
  background-color white
  position relative

  .paragraph,
  .listingblock

    .title
      color grey

      .name
        color black

  .listingblock .content
    float left
    width content-width
    padding-left content-padding
    padding-right content-padding
    margin-left 0 - content-padding
    margin-right 0 - content-padding
    overflow-x hidden
    margin-bottom 25px

    /*&:after
      display block
      margin-left content-width + 0.2em
      margin-right 0 - content-padding
      margin-bottom -0.2em
      box-shadow 0.5em 0.5em 1em -0.5em
      content '_'*/

    &:hover
      width auto
      min-width content-width
      overflow-x visible
      box-shadow 0.5em 0 1em -0.5em
      position relative
      z-index 20

    &:before
      font-size 0.8em
      line-height 0.8em
      color grey
      position absolute
      padding 0
      margin 0

    &.collapsed,
    &.collapsed:hover
      height 1em
      overflow hidden
      width content-width
      position normal

      &:hover:before
        content 'double click to expand'

    &:hover:before
      content 'double click to collapse'

#flog-content:after
  content: ''
  display table
  clear both

#flog-manifest
  position fixed
  left 0
  width manifest-width
  padding 1.2em
  color grey

  a,
  a:link,
  a:hover
    color inherit

  h1
    color white
    text-shadow -0.1em 0.1em 0.3em black

  ul
    list-style-type none
    margin 0
    margin-top 1.8em
    padding 0

    li
      clear both

      &.current
        background-color white
        color crimson
        box-shadow 0 0.5em 1em -0.5em black
        margin-left -2em
        padding-left 2em
        width 14em

    a
      display block
      margin-left 1em
      text-indent -1em
      width manifest-width - 1.8em

#flog-names
  height 100em
  width 100em

#flog-names,
#flog-headings
  position fixed
  left 57em
  top 3.6em
  color grey

  a,
  a:link,
  a:hover
    color inherit

#flog-headings
  z-index 10
  height 0

  .toggle
    position fixed
    margin-top -1.8em
    font-style italic

  ul
    height 100em
    width 100em
    position fixed
    background-color #fafafa
    transition opacity 0.5s

#flog-names,
#flog-headings ul
  list-style-type none
  padding 0
  margin 0

#flog-headings li
  &.level1
    padding-left 0

  &.level2
    padding-left 1em

  &.level3
    padding-left 2em

#flog-headings:hover

  ul
    opacity 1 !important
    visibility visible !important

#flog-commit

  .ui-combobox-input
    width manifest-width - 5em
    color grey
    outline none

  .ui-state-hover,
  .ui-state-focus
    background grey
    border #ddd
    outline none

#ui-active-menuitem
  background grey
  border #ddd

#flog-listing-toggle
  display none
  position absolute
  z-index 100
  width 1em
  height 1em
  background-color black
  color white

  &:before
    content '⌃'

  &.collapsed:before
    content '⌄'
