@import 'nib'

content-width = 40em
manifest-width = 12em
content-padding = 1em

body
  margin 0
  background-color #e7eff3

ul
  list-style-position inside

#flog-file
  background-color #fafafa
  margin-left manifest-width + 2em
  box-shadow 0 0 1em 0

#flog-content
  margin 0
  padding: 1.2em content-padding 3em content-padding
  box-shadow 0.5em -0.5em 1em -0.5em
  width content-width
  background-color white

  .paragraph

    .title
      color grey

      .name
        color black

  .listingblock
    padding-left content-padding
    padding-right content-padding
    margin-left 0 - content-padding
    margin-right 0 - content-padding

#flog-manifest
  position fixed
  left 0
  width manifest-width
  padding 1.2em
  color grey

  a,
  a:link,
  a:hover
    color inherit

  h1
    color white
    text-shadow -0.1em 0.1em 0.3em black

  ul
    list-style-type none
    margin 0
    padding 0

    li
      clear both

    a
      display block
      margin-left 1em
      text-indent -1em
      width manifest-width - 1.8em
      float left

  li.current:after
    color red
    float right
    font-weight bold
    content '>'

#flog-names,
#flog-headings
  position fixed
  left 57em
  top 3.6em
  color grey

  a,
  a:link,
  a:hover
    color inherit

#flog-headings .toggle
  position fixed
  margin-top -1.8em
  font-style italic

#flog-names,
#flog-headings ul
  list-style-type none
  padding 0
  margin 0
  transition opacity 0.5s

#flog-headings li
  &.level1
    padding-left 0

  &.level2
    padding-left 1em

  &.level3
    padding-left 2em

#flog-headings:hover

  ul
    opacity 1 !important
    visibility visible !important
    background-color #fafafa
    height 100em
    width 100em
