{% extends 'base.html' %}
{% block title %}{{ meta.title }} - {{ config.TITLE }}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel='stylesheet' href='{{ url_for('static', filename='css/post.css') }}'>
{% endblock %}
{% block header %}
  {% include 'title-block.html' %}
  <hgroup class='page-header'>
    <h1 class='page-title'>{{ meta.title }}</h1>
  </hgroup>
{% endblock %}
{% block content %}
  <article role='main'>
    {{ content }}
    <div class='meta'>
      {% if len(meta.revisions) > 0 %}
        {% for rev in meta.revisions %}
          <div class='mtime'>
            <span class='time'>{{ rev.date }}</span> {{ rev.remark }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </article>
{% endblock %}
{# vim: set ft=jinja: #}
