{% extends 'base.html' %}
{% block title %}Posts{% endblock %}
{% block head %}
  {{ super() }}
  <script src='{{ url_for('static', filename='css/jquery.ias.min.js') }}'></script>
  <script>
    jQuery(function($) {
      jQuery.ias({
          container: '#flog-content',
          item: '.hentry',
          pagination: '.nextprev',
          next: '.nextprev .prev',
          loader: '...',
          history: false,
          onRenderComplete: window.onLoadNewPosts
      });
    });
  </script>
{% endblock %}
{% block header %}
  {% include 'title-block.html' %}
  <hgroup class='page-header'>
    <h1 class='page-title'>Posts</h1>
  </hgroup>
{% endblock %}
{% block content %}
  {% for n, content, meta in posts %}
    {% include 'post_article.html' %}
  {% endfor %}
{% endblock %}
{% set n = posts[-1][0] %}
{% include 'post_nextprev.html' %}
{# vim: set ft=jinja: #}
