<article class='hentry' role='main'>
  <hgroup>
    <h1 class='entry-title' role='header'>
      <a href='{{ url_for('post', n=n) }}'><span class='n'>{{ n }} </span>{{ meta.title }}</a>
    </h1>
  </hgroup>
  <div class='article-content'>
    {{ content }}
    <div class='meta'>
      {% if len(meta.revisions) > 0 %}
        {% for rev in meta.revisions %}
          <div class='mtime'>
            <span class='time'>{{ rev.date }}</span> {{ rev.remark }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</article>
{# vim: set ft=jinja: #}
