<article class='hentry' role='main'>
  <hgroup>
    <h1 class='entry-title' role='header'>
      <a href='{{ url_for('post', n=n) }}'><span class='n'>{{ n }} </span>{{ meta.title }}</a>
    </h1>
  </hgroup>
  <div class='article-content'>
    {{ content }}
    <div class='meta'>
      {% if len(meta.revisions) > 0 %}
        {% for rev in meta.revisions %}
          <div class='mtime'>
            <span class='time'>{{ rev.date }}</span> {{ rev.remark }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class='respond'>
      <div><b>What do you think?</b></div>
      <div>Email me: <a href='mailto:{{ config.VCARD.email }}'>{{ config.VCARD.email }}</a></div>
      {% if config.FACEBOOK and config.FACEBOOK.comments %}
        <div>Or <span class='link comments-toggle'>toggle the comment box.</span></div>
      {% endif %}
      <div>
        <a href='https://twitter.com/share'
           class='twitter-share-button'
           data-url='{{ config.ROOT_URL }}{{ url_for('post', n=n) }}'
           data-text='{{ meta.title }}'
           data-via='{{ config.TITLE }}'
           data-count='none'>Tweet</a>
      </div>
      {% if config.FACEBOOK and config.FACEBOOK.like_button %}
        <div class='fb-like'
             data-href='{{ config.ROOT_URL }}{{ url_for('post', n=n) }}'
             data-send='false'
             data-layout='button_count'
             data-show-faces='false'></div>
      {% endif %}
      {% if config.FACEBOOK and config.FACEBOOK.comments %}
        <div class='comments'>
          <div class='fb-comments'
               data-href='{{ config.ROOT_URL }}{{ url_for('post', n=n) }}'
               data-num-posts='10'></div>
      {% endif %}
      </div>
    </div>
  </div>
</article>
{# vim: set ft=jinja: #}
