<!doctype html>
<html>
  <head>
    {% block head %}
      <title>{{ title }}</title>
      <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Vollkorn:r,i|Lato:r,i,b|Inconsolata|Nobile:r,i,b'>
      <link rel='stylesheet' href='{{ url_for('static', filename='css/base.css') }}'>
      <link rel='stylesheet' href='{{ url_for('static', filename='css/pygment.css') }}'>
      <link rel='stylesheet' href='{{ url_for('static', filename='css/project.css') }}'>
      <script src='http://code.jquery.com/jquery-1.7.2.min.js'></script>
      <script src='{{ url_for('static', filename='js/project.js') }}'></script>
      <meta name='MSSmartTagsPreventParsing' content='true'>
    {% endblock %}
  </head>
  <body>
    <nav id='flog-manifest'>
      <h1><a href='{{ prefix }}/'>{{ title }}</a></h1>
      <ul class='paths'>
        {% for p in paths %}
          <li
            {% if p == current_path %}class='current'{% endif %}>
            <a href='{{ prefix }}/{{ p }}'>{{ p }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <ul id='flog-names'>
      {% for n in names|sort %}
        <li><a href='#{{ n }}'>{{ n }}</a></li>
      {% endfor %}
    </ul>
    <div id='flog-file'>
      <div id='flog-content'>
        {% if headings %}
          <div id='flog-headings'>
            <div class='toggle'>
              <div class='tab'>toc</div>
              <ul>
                {% for h in headings %}
                <li class='level{{ h.level }}'>
                  <a href='#{{ h.id }}'>{{ h.text }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
        <article>{{ content }}</article>
      </div>
    </div>
  </body>
</html>
{# vim: set ft=jinja: #}
