<!doctype html>
<html>
  <head>
    {% block head %}
      <title>{{ title }}</title>
      <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Vollkorn:r,i|Lato:r,i,b|Inconsolata|Nobile:r,i,b'>
      <link rel='stylesheet' href='{{ url_for('static', filename='css/base.css') }}'>
      <link rel='stylesheet' href='{{ url_for('static', filename='css/pygment.css') }}'>
      <link rel='stylesheet' href='{{ url_for('static', filename='css/project.css') }}'>
      <meta name='MSSmartTagsPreventParsing' content='true'>
    {% endblock %}
  </head>
  <body>
    <nav id='manifest'>
      <h1><a href='{{ prefix }}/'>{{ title }}</a></h1>
      <ul class='paths'>
        {% for p in paths %}
          <li
            {% if p == current_path %}class='current'{% endif %}>
            <a href='{{ prefix }}/{{ p }}'>{{ p }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div id='file'>
      <div id='content'>
        <article>{{ content }}</article>
      </div>
    </div>
  </body>
</html>
{# vim: set ft=jinja: #}
