<!doctype html>
<html>
  <head>
    {% block head %}
      <title>{{ title }}</title>
      <link rel='stylesheet' href='{{ url_for('static', filename='css/pygment.css') }}'>
      <link rel='stylesheet' href='{{ url_for('static', filename='css/project.css') }}'>
      {{ scripts('spin', 'dumpling', 'flog', 'jtruncate', 'jorus', 'jselect', 'project') }}
      <meta name='MSSmartTagsPreventParsing' content='true'>
      <meta property='commit' content='{{ commit }}'>
      <meta property='prefix' content='{{ prefix }}'>
      <meta property='current_path' content='{{ current_path }}'>
      <meta property='github_user' content='{{ github_info.user }}'>
      <meta property='github_repo' content='{{ github_info.repo }}'>
    {% endblock %}
  </head>
  <body>
    <div id='flog-note'></div>
    <nav id='flog-manifest'>
      <h1><a href='{{ prefix }}/'>{{ title }}</a></h1>
      {% if github_info %}
        <form id='flog-commit' style='display:none'>
          <input type='text' value='{{ commit }}' title='Change branch (or paste commit id)'
          ><button type='button' title='Show branches and tags'>…</button>
          <ul></ul>
        </form>
      {% endif %}
      <ul class='paths'>
        {% for type, x in manifest %}
          <li
            {% if type == 'path' %}
              class='path{% if x == current_path %} current{% endif %}'>
              <a href='{{ prefix }}/{{ commit }}/{{ x }}'>{{ x }}</a>
            {% elif type == 'heading' %}
              class='heading'>
              {{ x }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div id='flog-headings'>
      {% if headings %}
        {% if names %}
          <div class='toggle'>show toc</div>
        {% endif %}
        <ul {% if names %}style='visibility:hidden;opacity:0'{% endif %}>
          {% for h in headings %}
          <li class='level{{ h.level }}'>
            <a href='#{{ h.id }}'>{{ h.text }}</a>
          </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <ul id='flog-names'>
      {% if names %}
        {% for n in names|sort %}
          <li><a href='#{{ n }}'>{{ n }}</a></li>
        {% endfor %}
      {% endif %}
    </ul>
    <div id='flog-file'>
      <div id='flog-content'>
        <article>{{ content }}</article>
      </div>
    </div>
  </body>
</html>
{# vim: set ft=jinja: #}
